<form #form="ngForm" (ngSubmit)="onSubmit();form.reset();">
  <h3 mat-dialog-title>Login</h3>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Email" name="email" [(ngModel)]="model.Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" [(ngModel)]='model.password' name="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button type="submit" mat-raised-button mat-dialog-close>Login</button>
  </mat-dialog-actions>
</form>